body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ffcc00;
}

.container {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffcc00;
  border: 1px #552100 solid;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#lines {
  width: 400px;
  height: 400px;
  left: -50px;
  top: -60px;
  transform: rotate(-9deg);
  /* background: green; */
}

#line01 {
  width: 400px;
  height: 100px;
  background-color: #552100;
  left: 0;
  top: 0px;
}
#line02 {
  width: 400px;
  height: 12px;
  background-color: #ffcc00;
  left: 0;
  top: 100px;
}
#line03 {
  width: 400px;
  height: 12px;
  background-color: #ee2e24;
  left: 0;
  top: 112px;
}
#line04 {
  width: 400px;
  height: 12px;
  background-color: #f36f21;
  left: 0;
  top: 124px;
}
#line05 {
  width: 400px;
  height: 12px;
  background-color: #552100;
  left: 0;
  top: 136px;
}
#line06 {
  width: 400px;
  height: 12px;
  background-color: #ee2e24;
  left: 0;
  top: 148px;
}
#line07 {
  width: 400px;
  height: 12px;
  background-color: #f36f21;
  left: 0;
  top: 160px;
}


#slogan {
  width: 225px;
  left: 5px;
  top: 3px;
}

#txt01, #txt02 {
  width: 213px;
  left: 13px;
  top: 290px;
}
#txt03 {
  width: 175px;
  left: 33px;
  top: 315px;
}

#btn {
  width: 204px;
  left: 16px;
  top:346px;
}

#heroes {
  width: 215px;
  left: 13px;
  top: 102px;
}

#prizes {
  top: 3px;
}

#laptop {
  width: 190px;
  left: 43px;
  top: 129px;
}
#iphone {
  width: 53px;
  left: 167px;
  top: 162px;
}
#playstation1 {
  width: 68px;
  left: 127px;
  top: 210px;
}
#playstation2 {
  width: 67px;
  left: 13px;
  top: 111px;
}
#tablet {
  width: 91px;
  left: 62px;
  top: 197px;
}





#schirm {
  position: absolute;
  width: 240px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: #ffcc00;
  background-size: cover;
  opacity: 0;
}
