body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ffcc00;
}

.container {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffcc00;
  border: 1px #552100 solid;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#lines {
  width: 600px;
  height: 400px;
  left: -50px;
  top: -69px;
  transform: rotate(-9deg);
  /* background: green; */
}

#line01 {
  width: 600px;
  height: 110px;
  background-color: #552100;
  left: 0;
  top: 0px;
}
#line02 {
  width: 600px;
  height: 10px;
  background-color: #ffcc00;
  left: 0;
  top: 110px;
}
#line03 {
  width: 600px;
  height: 10px;
  background-color: #ee2e24;
  left: 0;
  top: 120px;
}
#line04 {
  width: 600px;
  height: 10px;
  background-color: #f36f21;
  left: 0;
  top: 130px;
}
#line05 {
  width: 600px;
  height: 10px;
  background-color: #552100;
  left: 0;
  top: 140px;
}
#line06 {
  width: 600px;
  height: 10px;
  background-color: #ee2e24;
  left: 0;
  top: 150px;
}
#line07 {
  width: 600px;
  height: 10px;
  background-color: #f36f21;
  left: 0;
  top: 160px;
}

#slogan {
  width: 217px;
  left: 14px;
  top: 7px;
}

#txt01 {
  width: 125px;
  left: 60px;
  top: 147px;
}
#txt02 {
  width: 133px;
  left: 17px;
  top: 183px;
}
#txt03 {
  width: 56px;
  left: 157px;
  top: 190px;
}

#btn {
  width: 199px;
  left: 13px;
  top: 236px;
}

#heroes {
  width: 307px;
  left: 165px;
  top: 50px;
}

#prizes {
  top: 3px;
}

#laptop {
  width: 250px;
  left: 222px;
  top: 107px;
}
#iphone {
  width: 78px;
  left: 391px;
  top: 147px;
}
#playstation1 {
  width: 87px;
  left: 338px;
  top: 219px;
}
#playstation2 {
  width: 87px;
  left: 214px;
  top: 97px;
}
#tablet {
  width: 108px;
  left: 266px;
  top: 197px;
}





#schirm {
  position: absolute;
  width: 480px;
  height: 320px;
  top: 0;
  left: 0;
  background-color: #ffcc00;
  background-size: cover;
  opacity: 0;
}
