body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #ffcc00;
}

.container {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffcc00;
  border: 1px #552100 solid;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#lines {
  width: 500px;
  height: 400px;
  left: -50px;
  top: -27px;
  transform: rotate(-9deg);
  /* background: green; */
}

#line01 {
  width: 400px;
  height: 100px;
  background-color: #552100;
  left: 0;
  top: 0px;
}
#line02 {
  width: 400px;
  height: 14px;
  background-color: #ffcc00;
  left: 0;
  top: 100px;
}
#line03 {
  width: 400px;
  height: 14px;
  background-color: #ee2e24;
  left: 0;
  top: 114px;
}
#line04 {
  width: 400px;
  height: 14px;
  background-color: #f36f21;
  left: 0;
  top: 128px;
}
#line05 {
  width: 400px;
  height: 14px;
  background-color: #552100;
  left: 0;
  top: 142px;
}
#line06 {
  width: 400px;
  height: 14px;
  background-color: #ee2e24;
  left: 0;
  top: 156px;
}
#line07 {
  width: 400px;
  height: 14px;
  background-color: #f36f21;
  left: 0;
  top: 170px;
}


#slogan {
  width: 285px;
  left: 18px;
  top: 12px;
}

.txt {
  width: 295px;
  left: 11px;
  top: 367px;
}


#btn {
  width: 272px;
  left: 21px;
  top: 415px;
}

#heroes {
  width: 258px;
  left: 34px;
  top: 148px;
}

#prizes {
  top: 22px;
}

#laptop {
  width: 226px;
  left: 70px;
  top: 157px;
}
#iphone {
  width: 70px;
  left: 223px;
  top: 193px;
}
#playstation1 {
  width: 79px;
  left: 144px;
  top: 255px;
}
#playstation2 {
  width: 79px;
  left: 21px;
  top: 141px;
}
#tablet {
  width: 98px;
  left: 73px;
  top: 230px;
}





#schirm {
  position: absolute;
  width: 320px;
  height: 480px;
  top: 0;
  left: 0;
  background-color: #ffcc00;
  background-size: cover;
  opacity: 0;
}
